<?php

//////////////////////////////////////////////////////////
// Auteur : James Benone                                //
// Description : Contient les informations sensibles    //
// Date de modification : 10/12/2025                    //
//////////////////////////////////////////////////////////

define("SMTP_HOST", "mail.infomaniak.com");
define("SMTP_PORT", 587);
define("SMTP_USER", "");
define("SMTP_PASS", "");
define("SMTP_TO", "");